body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
}
.container-booking {
    display: flex;
    background-color: #fafafa;
    margin: 200px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: 40% 60%;
}
.container-timer {
    background-color: rgba(0, 0, 0, .95);
    padding: 50px;
    outline: 3px dashed #998100;
    outline-offset: -30px;
    text-align: center;
}
.heading-open {
    font-size: 35px;
    text-transform: uppercase;
    }
    .heading-days {
    color:#998100;
    font-size: 30px;
    }
    .heading-phone {
    font-size: 20px;
}
.container-form {
    padding: 20px 0;
    margin: 0 auto;
    color: #000;
}
.container-form, p{
    display: flex;
}

form {
    display: grid;
    grid-row-gap: 20px;
    }
    form p {
    font-weight: 600;
    }
    .form-field {
    display: flex;
    justify-content: space-between;
    }
    input,select {
    padding: 10px 15px;
}
.btn {
    background-color: #000;
    color: white;
    border-radius: 9px;
    
}
.btn:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
}

select{
    background-color: #000;
    color: #fff;
}

.container-timer,h2,h3{
    display: block;
}

.form-field, input{
    display: block;
}