body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EAEAF9;
}
a{
  color: #fff;
}
.header{
  background-color: #1D1D48;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,-1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #1D1D48;
}
.header ul a{
  display: block;
  padding: 20px;
  border-right: 1px solid #1D1D48;
  text-decoration: none;
}

.header ul a:hover{
  background-color: black;
}
.header .logo {
  float: left;
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.header .menu-icon{
  padding: 28px 20px;
  position: relative;  
  float: right;
  cursor: pointer;
}
.header .menu-icon .nav-icon{
  background: #fff;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition:background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition:all .2s ease-out;
  top: 5px;
}
.header .menu-icon .nav-icon:after{
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition:all .2s ease-out;
  top: -5px;
}

.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu{
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background:transparent ;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

/* hero banna*/


@media  (min-width:48em){
  .header li{
    float: left;
  }
  .header li a{
    padding: 20px 30px;
  }
  .header .menu{
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon{
    display: none;
  }
}



.main-img{
  position: relative;
  background: url(/img/hero\ banner.JPG) no-repeat center;
  background-size: cover;
  height: 400px;
  overflow: hidden;
}


.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #1D1D48;
}


.button{
  color: #ffffff;
  padding: 10px 24px;
  margin: auto;
  background: #1D1D48;
  text-decoration: none;
  border-radius: 10px;
  transition: .4s;
}
.button:hover{
  opacity: .4;
}
 
/*footer*/

.footer-container {
  height: auto;
  background-color: #1D1D48;
  display: flex;
  justify-content: center;
}

.footer-navv {
  margin: 50px 60px 50px 0px;
}
h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  color: rgb(250, 250, 250);
}

.footer-navv li {
  color: rgb(206, 206, 206);
  text-decoration: none;
  list-style: none;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer-nav:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}

/* main section*/

.container- {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 50px 100px;
}

.div-container- {
  margin: 5px;
  width: 100%;
}



.img {
  width: 100%; 
  height: 220px;
  object-fit: cover;
}

.text {
  margin-left: 10px;
  text-align: center;
}

button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  background-color: #1D1D48;
  color: #fff;
}

h1 {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  .container- {
    flex-direction: column;
    margin: 10px;
    text-align: center;
  }
}

.container--{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #1D1D48;
}


.buttonn{
  color: #ffffff;
  padding: 10px 24px;
  margin: auto;
  background: #1D1D48;
  text-decoration: none;
  border-radius: 10px;
  transition: .4s;
  font-weight: bold;
}
.buttonn:hover{
  opacity: .4;
}
 
.main-imge{
  position: relative;
  background: url(/img/backgrunn-bunn.JPG) no-repeat center;
  background-size: cover;
  height: 200px;
  overflow: hidden;
}

.container-{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
}



    
